<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SENTIMENT ANALYSIS</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- lets get fancy -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css">

  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

 


  

</head>
<body class="container-fluid">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AWESOME SENTIMENT ANALYSIS APP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/places/new">Add a place</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Go Home</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>